body,
.GameContainer,
.GameContainer > div,
#main,
.selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

#main {
  flex-direction: column;
}

.GameContainer {
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
}

.GameContainer > div {
  width: 30%;
  height: 30%;
  margin: 1%;
  border-radius: 10%;
  transition: 0.5s;
  cursor: pointer;
}

.yellow {
  background-color: yellow;
  border: 3px solid goldenrod;
  box-shadow: 0 0 15px yellow, inset 0 0 15px 5px goldenrod;
  z-index: 999;
}

.blue {
  background-color: dodgerblue;
  border: 3px solid darkslateblue;
  box-shadow: 0 0 15px dodgerblue, inset 0 0 15px 5px darkslateblue;
  z-index: 999;
}

.boxOff {
  background-color: slategrey;
  border: 3px solid black;
}

.selector {
  justify-content: space-evenly;
  height: 100px;
  width: 180px;
  margin: 0 0 20px;
}

.yellowSelect,
.blueSelect,
.noSelect {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.yellowSelect {
  background-color: yellow;
  border: goldenrod;
  box-shadow: 0 0 15px yellow, inset 0 0 5px 5px goldenrod;
}

.blueSelect {
  background-color: royalblue;
  box-shadow: 0 0 15px dodgerblue, inset 0 0 5px 5px darkslateblue;
}

.noSelect {
  background-color: slategrey;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 414px) {
  .GameContainer {
    width: 300px;
    height: 300px;
  }

  .GameContainer > div {
    width: 30%;
    height: 30%;
    margin: 0.5%;
  }
}
